.footer {
    min-height: 200px;
    background: #1a2e69;
    position: relative;
}

.footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #0a0a1b;
    color: bisque;
}

a {
    color: #254923;
    text-decoration: none;
}